<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header">
</head>
<body>
<h1>게시판 웹서비스</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a th:href="@{/post/save}" role="button" class="btn btn-primary">게시글 등록</a>
        </div>
        <div th:if="${userName}">
            Logged in as: <span id="user" th:text="${userName}"></span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        </div>
        <div th:unless="${userName}">
            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
            <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
        </div>
    </div>
    <br>
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}">1</td>
            <td><a th:href="@{/post/update/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
            <td th:text="${post.author}">author</td>
            <td th:text="${#temporals.format(post.updateDate, 'yyyy.MM.dd HH:mm:ss')}">2025.01.01 00:00:00</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="layout/footer :: footer"></div>
</body>
</html>
